<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BarcodeQNU.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BarcodeQNU.Properties.Settings>
            <setting name="PrinterName" serializeAs="String">
                <value>Intermec PC43t (203 dpi)</value>
            </setting>
            <setting name="PaperName" serializeAs="String">
                <value>Shelf label</value>
            </setting>
            <setting name="Landspace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MarginLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MarginTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SizeWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="SizeHeight" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="HorizontalAlignment" serializeAs="String">
                <value>Stretch</value>
            </setting>
            <setting name="BarcodeW" serializeAs="String">
                <value>390</value>
            </setting>
            <setting name="BarcodeH" serializeAs="String">
                <value>60</value>
            </setting>
        </BarcodeQNU.Properties.Settings>
    </userSettings>
</configuration>